.div-flex{
    display: flex;
    flex-direction: row;
}
.div-col{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background: #F8F8FA;
}
.area{
    opacity:0.5;
    stroke-width: 0;
}